body {
  background-color: #121212;
}

.dark-bg {
    background-color: rgb(41, 41, 41);
}
  
.rated {
  color: orange;
}

.bintang-rating-hover{
  color: orange;
}

.bintang-rating-rated{
  color: orange;
}

.image-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  object-fit: cover;
  object-position: center right;
}