*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    color: white;
    width: 100vw;
    height: calc(100vh - 71px);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 71px;
}

.sidenav {
    width: auto;
    min-width: 200px;
    height: 100%;
    border-right: double 3px white; 
    padding: 40px 0px; 
    overflow-y: auto; 
    overflow-x: hidden;    
}
  
.sidenav a {
  padding: 10px 0px 10px 12px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}
  
.sidenav a:hover {
  background-color: #f1f1f147;
}
  
.main {
  width: calc(100% - 200px);
  border-radius: 5px;
  margin: 40px 0px 40px 50px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.main::-webkit-scrollbar {
  width: 10px; 
}

.main::-webkit-scrollbar-track {
  background: black; 
}

.main::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 5px; 
}

.main::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.main {
  scrollbar-width: thin; 
  scrollbar-color: gold #676767; 
}

/* ---------------------------- */

.profile-text-container{
  margin: 20px 0px;
}