.upload-container{
    margin: 30px;
    padding: 40px 80px;
    display: flex;
}
.img-upload {
    width: 400px;
    max-width: 600px;
    min-height: 400px;
    height: 600px;
    background-color: #ededed;
    border-radius: 8px;
    box-shadow: 2px -2px 12px  rgba(62, 62, 62, 0.559),
        2px -2px 0 rgba(255, 255, 255, 0.9);
}

.description{
    width: 50%;
    height: 20px;
    margin: 40px 50px;
    margin-right: 0px;
}

#description{
    width: 100%;
    flex: 1 1 100%;     
    min-width: 0;         
    padding: 8px;
}

label {
    margin-left: 10px;
}

@media only screen and (max-width : 992px){
    .upload-container{
        margin: 60px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .description{
        width: 80vw;
        height: 20px;
        margin: 40px 50px;
    }
}